/* Colors */
$paragraph-color: #545550;
$brand-main-color: #ff0000;
$sidebar-color: #1A1A1A;
$buttons-color: #FFA524;
$hover-color: #BACDC0;
$background-color: #FCFDFC;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;