.btn {
    width: 93px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    line-height: 42px;
    font-family: "Roboto";
    font-weight: 300;
    cursor: pointer;
}

.btn-gray {
    @extend .btn;
    background-color: #979797;

    &:hover {
        background-color: #bababa;
    }
}

.btn-orange {
    @extend .btn;
    background-color: $orange-button-color;

    &:hover {
        background-color: $orange-button-hover-color;
    }
}