.btn {
    width: 93px;
    height: 40px;
    @include border-radius(5px);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    //line-height: 42px;
    font-family: "Roboto";
    font-weight: 300;
    cursor: pointer;
}

.btn-gray {
    @extend .btn;
    background-color: #979797;

    &:hover {
        background-color: #bababa;
    }
}

.btn-orange {
    @extend .btn;
    background-color: $orange-button-color;

    &:hover {
        background-color: $orange-button-hover-color;
    }
}

.btn-disabled {
    @extend .btn;
    background-color: #e3e3e3;
    width: 203px;
}

.links:before {
    background: url(panel-admin/images/links.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    color: #fff;
    height: 10px;
    margin-right: 3px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 10px;
}

/* TOP MENU BUTTONS */

.btn-notification {
    width: 58px;
    height: 60px;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $background-hover-color;
    }

    .notific {
        width: 20px;
        height: 20px;
        position: relative;
        margin: 0 auto;
        padding-top: 33%; 
    }
}

.btn-quit {
    width: 58px;
    height: 60px;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    cursor: pointer;
    fill: #a6a6a6;

    &:hover {
        background-color: $background-hover-color;
    }

    .quit {
        width: 20px;
        height: 20px;
        position: relative;
        margin: 0 auto;
        padding-top: 33%; 
    }
}

.btn-menu {
    width: 188px;
    height: 40px;
    background-color: #191919;
    color: $header-color;
    font-size: 14px;
    line-height: 42px;
    font-family: "Roboto";
    font-weight: 300;
}

.btn-general {
    @extend .btn-menu;
    &:hover {
        background-color: $background-hover-color;
    }
    .general {
        width: 20px;
        height: 20px;
        position: relative;
        margin: 0 auto;
        padding-top: 33%; 
    
}
