.header {
    font-size: 16px;
    line-height: 40px;
    color: $header-color;
    font-family: "Roboto";
}
.page-header {
    @extend .header; 
    text-transform: uppercase;
    //font-weight: 800;
}

.section-header {
    @extend .header;
    font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 40px;
    color: $text-color;
    font-family: "Roboto";
    font-weight: 300;
}

.link {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 300;
    color: $link-color;
    line-height: 17px;
}
    
.link-large {
    @extend .link;
    font-size: 16px;
    &:hover {
        color: $link-hover-color;
    }
}
    
.link-small {
    @extend .link;
    font-size: 13px;
    &:hover {
        color: $link-hover-color;
    }
}
    
.icon-show {
    @extend .link;
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    .icon-show:hover {
        fill: $link-hover-color;
    }
}